@import "normalize.scss";
@import "loader.scss";
$ati-color: rgba(76, 234, 97, 0.8);
$logo-color: #ea4c89;
$delete-color: rgb(253, 62, 62);
html,
body {
    scrollbar-color: rgba(255, 75, 31, 0.6) rgba(31, 221, 255, 0.6);
}
body {
    background: linear-gradient(90deg, rgba(255, 75, 31, 0.6) 0%, rgba(31, 221, 255, 0.6) 100%), #ffffff;
    padding: 44px 80px;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: rgba(255, 75, 31, 0.6);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(31, 221, 255, 0.6);
    border-radius: 40px;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.work-space {
    min-height: 60vh;

    background: #f3f5f9;
    box-shadow: 2px 8px 32px rgba(134, 140, 144, 0.35);
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 50px;
    user-select: none;
    &__container {
        padding: 0 72px;
    }
    &__header {
        display: flex;
        align-items: center;
        height: 88px;
        background-color: white;
        &-container {
            padding: 0 72px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .header-buttons-container {
            display: flex;
            .update-button {
                margin-right: 15px;

                .svg-update {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    &-active {
                        animation-name: update;
                        animation-duration: 0.4s;
                        animation-timing-function: ease-in-out;
                        animation-play-state: running;
                        @keyframes update {
                            0% {
                            }
                            100% {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }
        .header-title {
            h1 {
                color: #f2911b;
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 23px;
            }
        }
        .add-requisition {
            width: 30px;
            .plus-item {
                fill: #f2911b;
            }
        }
    }
    &__content {
        padding: 40px 0;

        .requisition-list {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow-y: auto;
            padding: 10px;
            &__item {
                flex: 25% 1 1;
                background: #ffffff;
                box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
                border-radius: 16px;
                transition: 0.4s;
                margin-bottom: 30px;
                padding: 20px;
                padding-left: 25px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .item-click {
                    color: #2a3135;
                }
                .item-title {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 32px;
                    color: #2a3135;
                    margin-bottom: 15px;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    &::before {
                        content: "";
                        left: -7px;
                        bottom: 0;
                        width: 70%;
                        height: 3px;
                        background: #de262f;
                        opacity: 0.4;
                        border-radius: 2px;
                        position: absolute;
                    }
                    .redact {
                        position: relative;
                        .options-svg {
                            cursor: pointer;
                            transform: rotate(-20deg);
                            transition: 0.2s;
                            &-active {
                                transform: rotate(100deg);
                                transition: 0.2s;
                            }
                        }
                        &-options {
                            position: absolute;
                            z-index: 11111;
                            right: 0;
                            box-shadow: 0px 0px 5px rgb(112, 116, 112);
                            background: white;
                            border-radius: 10px;
                            overflow: hidden;
                            transform: scale(0);
                            transition: 0.2s;
                            top: -20px;
                            right: -50px;

                            li {
                                font-size: 14px;
                                text-align: center;
                                transition: 0.3s;
                                padding: 5px;
                                z-index: 102;

                                &:first-child {
                                    &:hover {
                                        background: $delete-color;
                                        transition: 0.3s;
                                    }
                                }
                                &:last-child {
                                    &:hover {
                                        background: rgb(253, 255, 117);
                                        transition: 0.3s;
                                    }
                                }
                            }
                            &-active {
                                transform: scale(1);
                                transition: 0.5s;
                                top: 30px;
                                right: 15px;
                            }
                        }
                    }
                }
                .item-data {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 24px;
                }
                .item-comment {
                    &__content {
                        overflow: hidden;
                        max-height: 50px;
                    }
                }
                .item-company,
                .item-name,
                .item-phome,
                .item-comment,
                .item-data,
                .ati {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    position: relative;
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                }
                .item-phome {
                    &::before {
                        content: "";
                        left: -10px;
                        width: 4px;
                        height: 100%;
                        background: #26de81;
                        opacity: 0.4;
                        border-radius: 2px;
                        position: absolute;
                    }
                }
                .item-company,
                .item-name,
                .item-comment {
                    position: relative;
                    &::before {
                        content: "";
                        left: -10px;
                        width: 4px;
                        height: 100%;
                        background: #dce0e2;
                        opacity: 0.4;
                        border-radius: 2px;
                        position: absolute;
                    }
                }
                .ati {
                    background: $ati-color;
                    text-decoration: none;
                    color: #ffffff;
                    padding: 10px 32px;
                    margin-top: 10px;
                    display: inline-block;
                    border-radius: 16px;
                    transition: 0.4s;
                    &:hover {
                        box-shadow: 0 2px 10px $ati-color;
                        transition: 0.4s;
                    }
                }
                &:not(:nth-child(3n)) {
                    margin-right: 30px;
                }
                &:last-child {
                    margin-right: 0px;
                }
                &:hover {
                    box-shadow: 0px 4px 10px rgb(135, 135, 185);
                    transition: 0.4s;
                }
            }
        }
    }
}
.requisition-list::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}
.requisition-list::-webkit-scrollbar-track {
    background-color: rgba(255, 75, 31, 0.6);
}
.requisition-list::-webkit-scrollbar-thumb {
    background-color: rgba(31, 221, 255, 0.6);
    border-radius: 40px;
}
.logo {
    padding: 0 80px;
    margin-bottom: 44px;
    user-select: none;
    &:hover {
        .logo-label {
            background: $ati-color;
            transition: 1.3s;
        }
    }
    &-label {
        background: #ea4c89;
        padding: 8px 16px;
        border-radius: 16px;
        margin-right: 16px;
        transition: 0.3s;
    }
    span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 40px;
        color: #ffffff;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }
}
.form-page {
    padding: 40px;
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1 {
            color: #f2911b;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
        }
    }
}
.form {
    width: 100%;
    max-width: 1000px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 20px;
    &-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;
        &__label {
            color: #ce204b;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            position: absolute;
            top: 17px;
            left: 25px;
            font-size: 17px;
            transition: 0.4s;
            &-active {
                top: -15px;
                left: 25px;
                font-size: 13px;
                color: #c9637d;
                background: white;
                padding: 5px;
                transition: 0.4s;
            }
        }
        &__input,
        &__textarea {
            padding: 15px 25px;
            border-radius: 15px;
            border: 2px solid #ce204b;
            color: #f2911b;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;

            &:focus {
                outline: none;
                border: 2px solid #f2911b;
                transition: 0.4s;
            }
        }
        &__textarea {
            resize: none;
            height: 100px;
        }
        //! ========BUTTONS STYLE===========
        &__button {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            .button-submit {
                background-color: #f2911b;
                padding: 20px;
                border-radius: 20px;
                text-align: center;
                color: white;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    box-shadow: 0px 2px 4px #f2911b;
                    transition: 0.3s;
                }
            }
        }
    }
}
.button {
    margin-right: 15px;
    background-color: $logo-color;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    transition: 0.3s;
}

.prev-button {
    &:hover {
        box-shadow: 0 2px 5px $logo-color;
    }
}
.button-font {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    &:active {
        transform: translateY(5px);
    }
}

.reduct-color {
    background: rgb(230, 255, 91);
    color: black;
    &:hover {
        box-shadow: 0 2px 5px rgb(178, 180, 42);
    }
}
.button-delete {
    background-color: $delete-color;
    color: white;
    &:hover {
        box-shadow: 0 2px 5px $delete-color;
    }
}
//! ========/BUTTONS STYLE===========
.open-requisition-item {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container {
        width: 100%;
        max-width: 478px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 10px 0;
    }
    &__header {
        width: 100%;
        display: flex;
        padding-bottom: 20px;
        justify-content: center;
        border-bottom: 1px solid black;
    }
    .open-item-title {
        text-align: center;
        h2 {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 32px;
            color: #2a3135;
        }
    }
    .open-item-block {
        display: flex;
        align-items: flex-start;
        max-width: 100%;

        &:not(:first-child) {
            margin-top: 20px;
        }
        &__label {
            color: #ce204b;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            margin-right: 10px;
        }
        &__state {
            color: #f2911b;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            max-width: 500px;
            line-height: 22px;
        }
        .state-comment {
            max-height: 200px;
            overflow: hidden;
            overflow-y: scroll;
            padding-right: 5px;
        }
        .state-comment::-webkit-scrollbar {
            width: 5px;
            border-radius: 20px;
        }
        .state-comment::-webkit-scrollbar-track {
            background-color: rgba(255, 75, 31, 0.6);
        }
        .state-comment::-webkit-scrollbar-thumb {
            background-color: rgba(31, 221, 255, 0.6);
            border-radius: 40px;
        }
    }
}
